.nav {
    margin: auto;
    padding: 10px;
}

.navbar-brand {
    padding-left: 20px;
}
#divtext {
    display:inline-flex;
    clear: none;
}

#date {
    color: gray;
    float: right;
}

.card {
    padding: 10px;
    width: 75%;
    margin: auto;
    padding: 10px;
}

.myTab {
    width: 75%;
    border: 3px solid green;
    padding: 10px;
}

